@font-face {
    font-family: Raleway-bold;
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: OpenSans-regular;
    src: url('../fonts/OpenSans/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-bold;
    src: url('../fonts/OpenSans/OpenSans/OpenSans-Bold.ttf');
}