.review-list {
    position: relative;
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    padding-bottom: 360px;


    // z-index:10;
    .quotes-img {
        position: absolute;
        left: 50px;
        top: -36px;
        z-index: -1;
    }
}

.review-preview {
    background-color: $dbClrRev;
    flex-basis: 30%;
    height: 200px;
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
    border-radius: 4px;
    padding: 2.5rem 1.5rem 1.5rem;
    letter-spacing: 0.5px;

    .review-text {
        line-height: 21px;
    }

    .reviewer {
        gap: .5rem;
        align-items: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 999px;
        }

        .reviewer-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .25rem;
        }

        .reviewer-name {
            font-family: OpenSans-bold;
            font-size: .625rem;
        }

        .reviewer-pos {
            font-size: .4375rem;
            letter-spacing: .9px;

        }
    }
}